Source: emgd-driver
Section: graphics
Priority: optional
Maintainer: Thomas-Karl Pietrowski <thopiekar@googlemail.com>
Build-Depends: debhelper (>= 9),
 rpm2cpio, cpio,
 dkms, linux-headers-generic [i386 amd64], libtool,
# emgdgui - shlibs
 libxrandr2, libglade2-0, libxext6, libx11-6, libgtk2.0-0, libgdk-pixbuf2.0-0,
Standards-Version: 3.8.1

Package: emgd-driver
Architecture: all
Depends:
 emgd-drm-dkms,
 emgd-utils,
 xserver-xorg-1.9-video-emgd,
Description: Intel emgd driver in DKMS format.

Package: emgd-drm-dkms
Architecture: all
Depends: dkms (>= 1.95), make, ${misc:Depends}
Description: Intel emgd driver in DKMS format.

Package: emgd-utils
Architecture: all
Depends:
 emgd-utils-gui,
 emgd-utils-ced-lite
Description: Intel emgd driver in DKMS format.

Package: emgd-utils-gui
Architecture: all
Depends: 
 emgd-utils-gui-meego1.2,
 emgd-utils-gui-meego-wayland,
 emgd-utils-gui-tizen1.0,
 emgd-utils-gui-fedora14
Description: Intel emgd driver in DKMS format.

Package: emgd-utils-gui-fedora14
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks:
 emgd-utils-gui-meego1.2,
 emgd-utils-gui-meego-wayland,
 emgd-utils-gui-tizen1.0
Description: Intel emgd driver in DKMS format.

Package: emgd-utils-gui-meego1.2
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks:
 emgd-utils-gui-meego-wayland,
 emgd-utils-gui-tizen1.0,
 emgd-utils-gui-fedora14
Description: Intel emgd driver in DKMS format.

Package: emgd-utils-gui-meego-wayland
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks:
 emgd-utils-gui-meego1.2,
 emgd-utils-gui-tizen1.0,
 emgd-utils-gui-fedora14
Description: Intel emgd driver in DKMS format.

Package: emgd-utils-gui-tizen1.0
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks:
 emgd-utils-gui-meego1.2,
 emgd-utils-gui-meego-wayland,
 emgd-utils-gui-fedora14
Description: Intel emgd driver in DKMS format.

Package: emgd-utils-ced-lite
Architecture: all
Depends: dkms (>= 1.95), make, ${misc:Depends}
Description: Intel emgd driver in DKMS format.

Package: xserver-xorg-1.9-video-emgd
Architecture: all
Depends:
 xserver-xorg-1.9-video-emgd-meego1.2,
 xserver-xorg-1.9-video-emgd-meego-wayland,
 xserver-xorg-1.9-video-emgd-tizen1.0,
 xserver-xorg-1.9-video-emgd-fedora14
Description: Intel emgd xserver driver.

Package: xserver-xorg-1.9-video-emgd-fedora14
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel emgd xserver driver for Fedora14.

Package: xserver-xorg-1.9-video-emgd-meego1.2
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel emgd xserver driver for MeeGo1.2.

Package: xserver-xorg-1.9-video-emgd-meego-wayland
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel emgd xserver driver for MeeGo+Wayland.

Package: xserver-xorg-1.9-video-emgd-tizen1.0
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel emgd xserver driver for Tizen1.0.

Package: emgd-headers
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel emgd driver in DKMS format.

Package: emgd-headers-common
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel emgd driver in DKMS format.

Package: emgd-headers-fedora14
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel emgd driver in DKMS format.

Package: emgd-headers-meego1.2
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel emgd driver in DKMS format.

Package: emgd-headers-meego-wayland
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel emgd driver in DKMS format.

Package: emgd-headers-tizen1.0
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel emgd driver in DKMS format.

