Source: emgd-driver
Section: graphics
Priority: optional
Maintainer: Thomas-Karl Pietrowski <thopiekar@googlemail.com>
Build-Depends: debhelper (>= 9),
 rpm2cpio, cpio,
 dkms, linux-headers-generic [i386 amd64], libtool,
# emgdgui - shlibs
 libxrandr2, libglade2-0, libxext6, libx11-6, libgtk2.0-0, libgdk-pixbuf2.0-0,
# dri driver
 libxv1, libxcb-dri2-0,
# mesa
 libegl1-mesa-7.9-drivers | libegl1-mesa-drivers,
# xorg module
 libxdmcp6, libxau6,
# wayland
 libwayland-client0, libgbm1,
# multimedia accel
 libva-dev , libgstreamer-plugins-base0.10-dev,
Standards-Version: 3.8.1

Package: emgd-driver
Architecture: all
Pre-Depends:
 debconf (>= 0.2.17)
Depends:
 emgd-drm-dkms (> ${binary:Version}),
 emgd-utils    (> ${binary:Version}),
 xserver-xorg-1.9-video-emgd,
Recommends:
 xserver-xorg-1.9,
Description: Intel emgd driver in DKMS format.

Package: emgd-driver-dev
Architecture: all
Depends:
 emgd-driver   (> ${binary:Version}),
 emgd-headers  (> ${binary:Version}),
Description: Intel emgd driver in DKMS format.

Package: emgd-drm-dkms
Architecture: all
Depends: ${misc:Depends},
 dkms, make,
 libdrm-dev, linux-libc-dev
Description: Intel emgd driver in DKMS format.

Package: emgd-utils
Architecture: all
Depends:
 emgd-utils-gui      (> ${binary:Version}),
 emgd-utils-ced-lite (= ${binary:Version})
Description: Intel emgd driver in DKMS format.

Package: emgd-utils-gui
Architecture: all
Depends: 
 emgd-utils-gui-meego1.2 (= ${binary:Version}) | emgd-utils-gui-meego-wayland (= ${binary:Version}) | emgd-utils-gui-tizen1.0 (= ${binary:Version}) | emgd-utils-gui-fedora14 (= ${binary:Version})
Recommends:
 emgd-utils-gui-meego1.2,
Description: Intel emgd driver in DKMS format.

Package: emgd-utils-gui-fedora14
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks:
 emgd-utils-gui-meego1.2,
 emgd-utils-gui-meego-wayland,
 emgd-utils-gui-tizen1.0
Description: Intel emgd driver in DKMS format.

Package: emgd-utils-gui-meego1.2
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks:
 emgd-utils-gui-meego-wayland,
 emgd-utils-gui-tizen1.0,
 emgd-utils-gui-fedora14
Description: Intel emgd driver in DKMS format.

Package: emgd-utils-gui-meego-wayland
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks:
 emgd-utils-gui-meego1.2,
 emgd-utils-gui-tizen1.0,
 emgd-utils-gui-fedora14
Description: Intel emgd driver in DKMS format.

Package: emgd-utils-gui-tizen1.0
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks:
 emgd-utils-gui-meego1.2,
 emgd-utils-gui-meego-wayland,
 emgd-utils-gui-fedora14
Description: Intel emgd driver in DKMS format.

Package: emgd-utils-ced-lite
Architecture: all
Depends: dkms (>= 1.95), make, ${misc:Depends}
Description: Intel emgd driver in DKMS format.

Package: xserver-xorg-1.9-video-emgd
Architecture: all
Depends:
 xserver-xorg-1.9-video-emgd-meego1.2 (= ${binary:Version}) | xserver-xorg-1.9-video-emgd-meego-wayland (= ${binary:Version}) | xserver-xorg-1.9-video-emgd-tizen1.0 (= ${binary:Version}) | xserver-xorg-1.9-video-emgd-fedora14 (= ${binary:Version})
Recommends:
 xserver-xorg-1.9-video-emgd-meego1.2,
Description: Intel emgd xserver driver.

Package: xserver-xorg-1.9-video-emgd-fedora14
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends},
 xserver-xorg-core | xserver-xorg-1.9-core,
 xorg-video-abi-8,
Replaces:
 libegl1-dev,     libegl1-mesa-dev,
 libgles1-dev,    libgles1-mesa-dev,
 libgles2-dev,    libgles2-mesa-dev,
 libgl1-dev,      libgl1-mesa-dev,
 libopenvg1-dev,  libopenvg1-mesa-dev,
 libopenvgu1-dev, libopenvgu1-mesa-dev,
Conflicts:
 xserver-xorg-core (<< 1.9), xserver-xorg-core (>= 1.10),
Breaks:
 xserver-xorg-1.9-video-emgd-meego1.2,
 xserver-xorg-1.9-video-emgd-meego-wayland,
 xserver-xorg-1.9-video-emgd-tizen1.0,
Description: Intel emgd xserver driver for Fedora14.

Package: xserver-xorg-1.9-video-emgd-meego1.2
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends},
 xserver-xorg-core | xserver-xorg-1.9-core,
 xorg-video-abi-8,
Provides:
 libegl1-mesa, libegl1-mesa-7.9,
Conflicts:
 xserver-xorg-core (<< 1.9), xserver-xorg-core (>= 1.10),
Breaks:
 xserver-xorg-1.9-video-emgd-fedora14,
 xserver-xorg-1.9-video-emgd-meego-wayland,
 xserver-xorg-1.9-video-emgd-tizen1.0,
Description: Intel emgd xserver driver for MeeGo1.2.

Package: xserver-xorg-1.9-video-emgd-meego-wayland
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends},
 xserver-xorg-core | xserver-xorg-1.10-core,
 xorg-video-abi-10,
Conflicts:
 xserver-xorg-core (<< 1.10), xserver-xorg-core (>= 1.11),
Breaks:
 xserver-xorg-1.9-video-emgd-fedora14,
 xserver-xorg-1.9-video-emgd-meego1.2,
 xserver-xorg-1.9-video-emgd-tizen1.0,
Description: Intel emgd xserver driver for MeeGo+Wayland.

Package: xserver-xorg-1.9-video-emgd-tizen1.0
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends},
 xserver-xorg-core | xserver-xorg-1.9-core,
 xorg-video-abi-8,
Breaks:
 xserver-xorg-1.9-video-emgd-fedora14,
 xserver-xorg-1.9-video-emgd-meego1.2,
 xserver-xorg-1.9-video-emgd-meego-wayland,
Description: Intel emgd xserver driver for Tizen1.0.

Package: emgd-headers
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
 emgd-headers-meego1.2 (= ${binary:Version}) | emgd-headers-meego-wayland (= ${binary:Version}) | emgd-headers-tizen1.0 (= ${binary:Version}) | emgd-headers-fedora14 (= ${binary:Version}) | emgd-headers-common (= ${binary:Version}),
Recommends:
 emgd-headers-meego1.2,
Description: Intel emgd driver in DKMS format.

Package: emgd-headers-common
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks:
 emgd-headers-meego1.2,
 emgd-headers-meego-wayland,
 emgd-headers-tizen1.0,
 emgd-headers-fedora14,
Description: Intel emgd driver in DKMS format.

Package: emgd-headers-fedora14
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends} 
Breaks:
 emgd-headers-meego1.2,
 emgd-headers-meego-wayland,
 emgd-headers-tizen1.0,
 emgd-headers-common,
Description: Intel emgd driver in DKMS format.

Package: emgd-headers-meego1.2
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks:
 emgd-headers-meego-wayland,
 emgd-headers-tizen1.0,
 emgd-headers-fedora14,
 emgd-headers-common,
Description: Intel emgd driver in DKMS format.

Package: emgd-headers-meego-wayland
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks:
 emgd-headers-meego1.2,
 emgd-headers-tizen1.0,
 emgd-headers-fedora14,
 emgd-headers-common,
Description: Intel emgd driver in DKMS format.

Package: emgd-headers-tizen1.0
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks:
 emgd-headers-meego1.2,
 emgd-headers-meego-wayland,
 emgd-headers-fedora14,
 emgd-headers-common,
Description: Intel emgd driver in DKMS format.

Package: flashplugin-emgd
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel emgd driver in DKMS format.

Package: libmix-common
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel emgd driver in DKMS format.

Package: libmix-vbp
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel emgd driver in DKMS format.

Package: libmix-video
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel emgd driver in DKMS format.

Package: gstreamer0.10-mix
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel emgd driver in DKMS format.

Package: gstreamer0.10-va
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel emgd driver in DKMS format.

Package: libgstreamer0.10-vabuffer
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel emgd driver in DKMS format.
