#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_clean:
	dh_clean
	make -C binaries clean
	
	# removing all unpacked binaries
	rm -rfv video_plugin/rpm_contents/

override_dh_auto_configure:
	# Unpacking video_plugin
	mkdir -p video_plugin/rpm_contents/
	cd video_plugin/rpm_contents/ && rpm2cpio ../gst-plugins-mixvideo-0.10.39-1.i586.rpm | cpio -idmv
	cd video_plugin/rpm_contents/ && rpm2cpio ../gst-plugins-va-0.10.12-1.i586.rpm       | cpio -idmv
	cd video_plugin/rpm_contents/ && rpm2cpio ../gst-vabuffer-0.10.8-1.i586.rpm          | cpio -idmv
	cd video_plugin/rpm_contents/ && rpm2cpio ../mixcommon-0.10.8-1.i586.rpm             | cpio -idmv
	cd video_plugin/rpm_contents/ && rpm2cpio ../mixvbp-0.10.9-1.i586.rpm                | cpio -idmv
	cd video_plugin/rpm_contents/ && rpm2cpio ../mixvideo-0.10.10-1.i586.rpm             | cpio -idmv

override_dh_auto_build:
	make -C binaries
	
override_dh_shlibdeps:
	dh_shlibdeps --ignore-missing-info
